<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<li class="admin__action-multiselect-menu-inner-item _root"
    data-bind="css: { _parent: $data.optgroup }"
    data-role="option-group">
    <div class="action-menu-item"
         data-bind="
            css: {
                _selected: $parent.isSelectedValue(option),
                _hover: $parent.isHovered(option, $element),
                _expended: $parent.getLevelVisibility($data) && $parent.showLevels($data),
                _unclickable: $parent.isLabelDecoration($data),
                _last: $parent.addLastElement($data),
                '_with-checkbox': $parent.showCheckbox
            },
            click: function(data, event){
                $parent.toggleOptionSelected($data, $index(), event);
            },
            clickBubble: false
    ">
        <div class="company-details">
            <div class="company-name" text="option.name"></div>
            <div class="company-info">
                <small text="option.address"></small>
            </div>
        </div>
    </div>
</li>
