<!-- ko if: prices().rejection_reason -->
<div class="rejection-reason-wrap">
    <p class="rejection-reason-label" data-bind="i18n: 'Rejection Reason'"></p>
    <span class="rejection-reason-details">
        <!-- ko text: prices().rejection_reason -->
        <!-- /ko -->
    </span>
</div>
<!-- /ko -->
<!-- ko if: prices().is_eligible -->
<ul class="credit-balance-list" data-role="credit-balance">
    <li class="credit-balance-item">
        <p class="credit-balance-label" data-bind="i18n: 'Credit Limit'"></p>
        <span class="credit-balance-price">
            <!-- ko text: prices().amount -->
            <!-- /ko -->
        </span>
    </li>
    <li class="credit-balance-item">
        <p class="credit-balance-label" data-bind="i18n: 'Outstanding Balance'"></p>
        <span class="credit-balance-price">
            <!-- ko text: prices().amount_in_use -->
            <!-- /ko -->
        </span>
    </li>
    <li class="credit-balance-item">
        <p class="credit-balance-label" data-bind="i18n: 'Available Credit'"></p>
        <span class="credit-balance-price">
            <!-- ko text: prices().amount_available -->
            <!-- /ko -->
        </span>
    </li>
</ul>
<!-- /ko -->
