<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<div class="company-information-wrapper" data-bind="visible: visible">
    <h4 class="hokodo-label" data-bind="i18n: 'Company Information'"></h4>
    <div class="company-information">
        <div class="company-information-country">
            <!-- ko foreach: getRegion('company-information-country') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko foreach: getRegion('company-information-company') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

</div>
