<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2023 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_hokodo_bnpl">
        <observer name="hokodo_bnpl_data_assign" instance="Hokodo\BNPL\Observer\DataAssignObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="hokodo_service_quote_submit_success" instance="Hokodo\BNPL\Observer\OrderPlaceSuccessObserver"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer name="invalidate_hokodo_customer_observer"
                  instance="Hokodo\BNPL\Observer\Customer\InvalidateHokodoCustomerObserver"/>
    </event>
</config>
