<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Hokodo\BNPL\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <!-- <type name="Hokodo\BNPL\Model\Ui\ConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">HokodoDeferredPaymentConfig</argument>
        </arguments>
    </type> -->
    <!-- <type name="Hokodo\BNPL\Plugin\Block\Checkout\LayoutProcessor">
        <arguments>
            <argument name="config" xsi:type="object">HokodoDeferredPaymentConfig</argument>
        </arguments>
    </type> -->

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="hokodo_bnpl_config_provider" xsi:type="object">Hokodo\BNPL\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Sections invalidate -->
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="hokodo-checkout" xsi:type="string">Hokodo\BNPL\CustomerData\HokodoCheckout</item>
                <item name="hokodo-search" xsi:type="string">Hokodo\BNPL\CustomerData\HokodoSearch</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="hokodoAddDataToCustomerCart" type="Hokodo\BNPL\Plugin\CustomerData\Cart"/>
    </type>
    <type name="Hokodo\BNPL\CustomerData\HokodoCheckout">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Hokodo\BNPL\CustomerData\HokodoSearch">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="HokodoCustomerGroup" type="Hokodo\BNPL\Plugin\CustomerData\CustomerGroup" sortOrder="100"/>
    </type>
    <type name="Hokodo\BNPL\Plugin\CustomerData\CustomerGroup">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
