<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_save_before">
        <!-- SDK observer -->
        <observer name="hokodo_bnpl_update" instance="Hokodo\BNPL\Observer\UpdateHokodoCheckout"/>
    </event>
</config>
