/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */

@import 'compatibility/amasty-checkout/_modern.less';

& when (@media-common = true) {

    .hokodo-gateway {
        .hokodo-bnpl-tooltip {
            .lib-tooltip(top);
            position: absolute;
            right: 5px;
            .tooltip-content {
                max-width: 90vw;
                width: 600px;
                right: -10px;
                left: unset;
                border-radius: 5px;
                margin-bottom: 8px;
                &:before {
                    right: 19px;
                    margin-right: -6px;
                    left: unset;
                    margin-left: unset;
                }
                &:after {
                    right: 19px;
                    margin-right: -5px;
                    left: unset;
                    margin-left: unset;
                }
            }
        }
        .payment-method-title {
            display: flex;
            position: relative;
            .hokodo-radio {
                margin-right: 9px;
            }
            .label {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                .label-left {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .payment-logos {
                    .direct_uk,
                    .direct_eu,
                    .visa,
                    .mastercard,
                    .amex {
                        width: 43px;
                        display: inline-block;
                        height: 30px;
                        background-size: cover;
                        margin-right: 5px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .direct_uk {
                        background-image: url("Hokodo_BNPL::img/DD_UK.svg");
                    }
                    .direct_eu {
                        background-image: url("Hokodo_BNPL::img/DD_EU.svg");
                    }
                    .visa {
                        background-image: url("Hokodo_BNPL::img/visa.svg");
                    }
                    .mastercard {
                        background-image: url("Hokodo_BNPL::img/master_card.svg");
                    }
                    .amex {
                        background-image: url("Hokodo_BNPL::img/amex.svg");
                    }
                    @media (max-width: 1050px) {
                        margin-top: 7.5px;
                    }
                }
            }
        }
        .payment-method-content {
            padding: 0 0 20px 0;
        }
        #hokodoCompanySearch {
            margin-bottom: 20px;
        }
        #hokodoCheckout {
            position: relative;
            &.loading {
                padding: 40px 0;
                &:before {
                    content: '';
                    background: url('@{baseDir}images/loader-2.gif') 50% 50% no-repeat;
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        .hokodo-footer{
            color:#756868;
            font-size:0.8em;
            margin:20px;
            margin-top:40px;
        }

        .none {
            display: none;
        }
        .default {
            height: 30px;
        }
        .title-hokodo {
            margin-right: 5px;
        }
        .logo-hokodo {
            width: 80px;
            margin-left: 5px;
        }
        .btn-click {
            text-decoration: underline;
            background: none;
            border: none;
            color: #006bb4;
            font-weight: 400;
        }
        .label {
            flex-wrap: wrap;
        }
    }
    .block-minicart .block-content > .actions > .primary .action.primary.hokodo.checkout,
    .cart-summary .checkout-methods-items .action.hokodo.checkout.primary {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 8px;
        background-color: #64CDC8;
        border: 1px solid #64CDC8;
        color: #132e34;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 12px;

        &:hover {
            background-color: #8BD9D6;
            border-color: #8BD9D6;
        }

        img {
            width: auto;
            height: 15px;
            margin: 2px 0;
        }
    }
}
