<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
 F5EAD7
-->
<div class="payment-method hokodo-gateway" data-bind="css: {'_active': (getCode() == isChecked())}">
    <!-- ko if: isReadyToShow -->
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio hokodo-radio"
               data-bind="
                    attr: {
                        id: getCode()
                    },
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()
               "/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span class="label-left">
                <span class="title-hokodo" data-bind="text: getTitle()"></span>
                <span class="logo-hokodo" data-bind="visible: getHokodoLogo()">
                    <hokodo-marketing data-element="badge-large" data-theme="default"></hokodo-marketing>
                </span>
                <!-- ko if: getSubTitle() -->
                <span data-bind="text: getSubTitle()"></span>
                <!-- /ko -->

                <!-- ko if: getInfo() -->
                <button class="btn-click" data-bind="click: openModal">
                    <span data-bind="text: getInfo()"></span>
                    <hokodo-marketing style="display: none;" id="hokodo-marketing-lightbox" data-element="lightbox"></hokodo-marketing>
                </button>
                <!-- /ko -->
            </span>
            <span data-bind="attr: {class: 'payment-logos'}">
                <!-- ko foreach: getLogos -->
                    <span data-bind="attr: {class: $data}"></span>
                <!-- /ko -->
            </span>
        </label>
    </div>
    <div class="payment-method-content hokodo-content-wrapper">

        <div id="hokodoCompanySearch" data-bind="afterRender: mountSearch"></div>
        <div class="hokodo-messages-wrapper">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div id="hokodoCheckout" data-bind="afterRender: mountCheckout, css: {'loading': isOfferLoading}"></div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
</div>
