/**
 * Copyright © 2018-2023 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
.hokodo-admin-logo{
    display: inline-flex;
    background: rgb(100, 205, 200);
    border-radius: 4px;
    padding: 10px 8px;
    margin-bottom: 5px;
    svg{
        width: auto;
        height: 20px;
    }
}

