<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2023 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hokodo\BNPL\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="hokodo_customer_customer_data_provider_plugin"
                type="Hokodo\BNPL\Plugin\Customer\DataProviderWithDefaultAddressesPlugin"
                sortOrder="1" disabled="false"/>
    </type>
    <type name="Hokodo\BNPL\Controller\Adminhtml\Company\Credit">
        <arguments>
            <argument name="logger" xsi:type="object">HokodoLogger</argument>
        </arguments>
    </type>

    <!-- Plugin for additional column on customer grid BEGIN-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="Hokodo_BNPL::customer_grid_collection_plugin"
                type="Hokodo\BNPL\Plugin\Framework\View\Element\UiComponent\DataProvider\CollectionFactoryPlugin"
                sortOrder="100"
                disabled="false"/>
    </type>
    <!-- Plugin for additional column on customer grid END-->
    <!-- Plugin for Filtration on customer grid BEGIN-->
    <type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
        <plugin name="Hokodo_BNPL:customer_grid_collection_filter_plugin"
                type="Hokodo\BNPL\Plugin\Customer\Model\ResourceModel\Grid\CollectionPlugin"
                sortOrder="100"
                disabled="false"/>
    </type>
    <!-- Plugin for Filtration nn customer grid END-->
</config>
