<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2023 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hokodo_BNPL::hokodo"
             title="Hokodo"
             translate="title"
             module="Hokodo_BNPL"
             sortOrder="105"
             parent="Magento_Backend::system"
             resource="Hokodo_BNPL::hokodo"
        />
        <add id="Hokodo_BNPL::hokodo_logs"
             title="Logs"
             module="Hokodo_BNPL"
             sortOrder="30"
             parent="Hokodo_BNPL::hokodo"
             action="hokodo/logs"
             resource="Hokodo_BNPL::view"
        />
    </menu>
</config>
