<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="hokodo_bnpl" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hokodo BNPL</label>
                <field id="title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                    <config_path>payment/hokodo_bnpl/title</config_path>
                </field>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <comment>v2.0.3</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_customer_groups" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Customer Groups</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_groups" translate="label" type="multiselect" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Customer Groups</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group\Multiselect</source_model>
                    <depends>
                        <field id="enable_customer_groups">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Environment</label>
                    <source_model>Hokodo\BNPL\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id="dev_api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Development API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">dev</field>
                    </depends>
                </field>
                <field id="sandbox_api_key" translate="label" type="obscure" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">production</field>
                    </depends>
                </field>
                <field id="dev_sdk_key" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Development SDK Key</label>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">dev</field>
                    </depends>
                </field>
                <field id="sandbox_sdk_key" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox SDK Key</label>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="sdk_key" translate="label" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production SDK Key</label>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">production</field>
                    </depends>
                </field>

                <field id="create_invoice_on_payment_accepted" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Create invoice automatically</label>
                    <comment>Invoice will be created automatically after payment update</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_default" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Set as Default</label>
                    <comment><![CDATA[Sets method on the first place on checkout and makes it selected]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="segment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Analytics</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sandbox_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Sandbox Key</label>
                    </field>
                    <field id="key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Production Key</label>
                    </field>
                </group>
                <group id="marketing" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Marketing</label>
                    <field id="enable_product" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Product Credit limit Banner enable</label>
                        <comment><![CDATA[Display credit limit banner on product page]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="enable_top" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Top Credit limit Banner enable</label>
                        <comment><![CDATA[Display top credit limit banner on all the pages.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="top_theme" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Top banner theme</label>
                        <comment><![CDATA[Select theme for top banner.]]></comment>
                        <source_model>Hokodo\BNPL\Model\Adminhtml\Source\MarketingTopBannerThemeOptions</source_model>
                        <depends>
                            <field id="enable_top">1</field>
                        </depends>
                    </field>
                    <field id="faq" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>FAQ link</label>
                        <comment><![CDATA[FAQ for buyers link.]]></comment>
                    </field>
                    <field id="enable_cart_page" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enable button on cart page, minicart</label>
                        <comment><![CDATA[Display button on cart page and minicart]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="label_cart_page" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Label button on cart page, minicart</label>
                        <comment><![CDATA[Label text for button on cart page and minicart.]]></comment>
                    </field>
                    <field id="hokodo_logo" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Show Hokodo logo</label>
                        <comment><![CDATA[Display Hokodo logo in checkout page with checkout payment method title.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="subtitle" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Subtitle</label>
                    </field>
                    <field id="payment_more_info" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>More Info</label>
                    </field>
                    <field id="payment_method_logos" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment Method logos</label>
                        <source_model>Hokodo\BNPL\Model\Adminhtml\Source\PaymentMethodLogos</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
