<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018-2021 Hokodo. All Rights Reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="hokodo_bnpl" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hokodo BNPL</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <comment>v1.2.2</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Environment</label>
                    <source_model>Hokodo\BNPL\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id="dev_api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Development API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">dev</field>
                    </depends>
                </field>
                <field id="sandbox_api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">sandbox</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="environment">production</field>
                    </depends>
                </field>
                <field id="create_invoice_on_payment_accepted" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Create invoice automatically</label>
                    <comment>Invoice will be created automatically after payment update</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_default" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Set as Default</label>
                    <comment><![CDATA[Sets method on the first place on checkout and makes it selected]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
