.hokodo-gateway > .payment-method-title > label > p {
    margin-left:20px;
}
.hokodo-gateway > .payment-method-title > label > p > span {
    margin-left:2px;
}
.hokodo-gateway > .payment-method-title {
    padding-bottom:5px;
}
.hokodo-content-wrapper{
    border:1px solid #bbb;
}
.hokodo-content-wrapper .hokodo-bynow {
    background-color:#d2a417;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.hokodo-content-wrapper .company-type {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 800;
}
.hokodo-content-wrapper .registered-company, .hokodo-content-wrapper .sole-trader {
    display:inline-block;
    width:40%;
    margin-left:20px;
    border:1px solid #bbb;
    padding:5px;
    cursor:pointer;
}
.hokodo-content-wrapper .company-information > h4{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 800;
}
.hokodo-content-wrapper .company-information > select {
    border:1px solid #bbb;
}
.company-information > select, .company-information >input {
    display:inline-block;
    margin-left:20px;
    width:42%;
    padding:5px;
    border:1px solid #bbb;
}
.company-information .company-select{
    background-color: white;
}
.hokodo-content-wrapper .hokodo-footer{
    color:#756868;
    font-size:0.8em;
    margin:20px;
    margin-top:40px;
}
.hokodo-content-wrapper .trader-notice{
    border:1px solid red;
    background-color: #ffcfcf;
    margin:20px;
    padding:10px;
    color:red;
    font-weight: 800;
    font-style: italic;
}
.company-information, .trader-notice{
    /* display:none; */
}
.visible{
    display:block;
}
.hokodo-content-wrapper .payment-plan > h4{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 800;
}
.hokodo-content-wrapper .payment-plan > div{
    margin:10px 0 0 20px;
    padding:10px;
    border: 1px solid #bbb;
    display:table;
}
.hokodo-content-wrapper .payment-plan{
    display:none;
}
.hokodo-content-wrapper .description{
    margin:20px;
    padding:20px;
    background-color: #eee;
}
.hokodo-content-wrapper .place-order{
    display:none;
}
.hokodo-content-wrapper .place-order > button{
    margin:10px 20px;
    padding:15px;
    color:white;
    width:95%;
    background-color: #3c3c3c;
    text-transform: uppercase;
}





.admin__action-multiselect-wrap {
    width: 42%;
    display: inline-block;
    margin-left: 15px;
}

.admin__data-grid-loading-mask {
    background: rgba(255, 255, 255, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

}
.admin__data-grid-loading-mask > .spinner {
        font-size: 14px;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
    }
