button {
    &.hokodo-checkout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 15px;
        margin-bottom: 15px;
        background-color: #65CFCA;
        padding: 5px 50px;
        border: 1px solid #65CFCA;
        color: #132e34;
        line-height: 1.5;
        min-height: 50px;
        text-align: center;
        cursor: default;

        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 5px 15px;
        }

        img {
            margin: 5px 0;
        }
    }
}
