div {
    &.hokodo-checkout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 7px 15px;
        margin-bottom: 15px;
        background-color: #65CFCA;
        padding: 10px 50px;
        border: 1px solid #65cfca;
        color: #132e34;
        line-height: 1.6rem;
        min-height: 46px;
        text-align: center;
        cursor: default;
        border-radius: 3px;
        font-family: 'DM Sans','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 16px;
        box-sizing: border-box;
        vertical-align: middle;
        width: 100%;
        font-weight: 600;
        @media only screen and (max-width: 767px) {
            padding: 7px 15px;
            font-size: 14px;
            gap: 5px 10px;
        }
        &.btn {
            cursor: pointer;
        }
        img {
            height: 16px;
            width: auto;
            @media only screen and (max-width: 767px) {
                height: 14px;
            }
        }
    }
}

.modal-hokodo-lightbox {
    .modal-inner-wrap {
        max-width: 800px;
        max-height: calc(~'100% - 10rem');
        @media only screen and (max-width: 480px) {
            width: 100%;
            max-height: 100%;
            margin: 0;
        }
        .modal-content {
            padding: 0;
            max-height: 100%;
            overflow: auto;
        }
    }
}
