<div id="loading">Loading...</div>
<div id="error" class="hidden">Error</div>

<div id="hokodoCompanySearch" data-bind="afterRender: onAfterRender"></div>

<div class="merchant-events">
    <h2 class="merchant-events__title">Events sent to the merchant:</h2>
    <dl>
        <dt>
            Selected Country:
        </dt>
        <dd id="country"></dd>
        <dt>
            Selected Company Type:
        </dt>
        <dd id="companyType"></dd>
        <dt>
            Selected Company:
        </dt>
        <dd id="selectedCompany"></dd>
    </dl>
</div>
